<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy start and managed updates</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias
        sequi vel eaque a incidunt atque quis, repudiandae facere maxime
        placeat unde doloremque ullam officia, assumenda provident distinctio
        nihil cupiditate nobis!
      </p>
    </div>
  </div>